################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

# Ignore all .vsidx files
*.vsidx



/Sports-Merchandise-Store/.vs/Sports-Merchandise-Store/FileContentIndex/0e9fbbce-ad94-4657-9fe5-e75e83172818.vsidx
/Sports-Merchandise-Store/App_Data/aspnet-Sports-Merchandise-Store-20240728122018.mdf
