################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Sports-Merchandise-Store/.vs/Sports-Merchandise-Store/FileContentIndex/d61707be-776e-4862-bca6-723e80ffbcd5.vsidx
/Sports-Merchandise-Store/.vs/Sports-Merchandise-Store/FileContentIndex/7d571eb4-8654-441a-af6a-6a045c7c72eb.vsidx
/Sports-Merchandise-Store/.vs/Sports-Merchandise-Store/FileContentIndex/837de73a-7a44-4872-bda7-866cd8b62739.vsidx
/Sports-Merchandise-Store/.vs/Sports-Merchandise-Store/FileContentIndex/9032f1ef-6955-4d9e-a306-28d3b0dbcdad.vsidx
