################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Sports-Merchandise-Store/.vs/Sports-Merchandise-Store/FileContentIndex/d61707be-776e-4862-bca6-723e80ffbcd5.vsidx
