@{ 
    ViewBag.Title = "Create";
}

<div><a href="/Team/List">Cancel</a></div>

<h2>Create New Club</h2>
<form action="/Team/Create" method="POST">
    <div>
        <label>Club Name</label>
        <input type="text" name="TeamName" />
    </div>
    <div>
        <label>League</label>
        <input type="text" name="League" />
    </div>
    <div>
        <label>Country</label>
        <input type="text" name="TeamCountry" />
    </div>
    <div>
        <label>Estimated Budget</label>
        <input type="number" name="TeamBudget" />
    </div>
    <div>
        <label>Club Image</label>
        <imput typeof="text" name="TeamImageUrl" placeholder="Enter  Image URL" />
    </div>
    <div>
        <button type="submit">Add Club</button>
    </div>
</form>
